/* Google Font Import - Kanit */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Google Font Import - Anton */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Light Mode Colours */
:root {
    --body-color: #242424;
    --secondary-body: #eeeeee;
    --nav-color: #ffffff;
    --side-nav: #ffffff;
    --text-color: #303030;
    --search-bar: #eeeeee;
    --search-icon: #757575;
    --button-color: #e6b31e;
    --hover-color: #eaeaea;
    --secondary-button: #ffffff;
    --secondary-hover: #303030;
    --form-color: #dfdfdf;
    --tertiary-body: #eeeeee;
    --secondary-form: #ffffff;
    --input-color: #eaeaea;
    --border-color: #dfdfdf;
    --secondary-border: #c7c7c7;
}
/* Light Mode Colours */

body {
    height: 100vh;
    background-color: var(--body-color);
}

/* Dark Mode Colours */
body.dark {
    --body-color: #151515;
    --secondary-body: #1a1a1a;
    --nav-color: #242424;
    --side-nav: #242424;
    --text-color: #ffffff;
    --search-bar: #303030;
    --search-icon: #757575;
    --button-color: #ffb300;
    --hover-color: #3f3f3f;
    --secondary-button: #151515;
    --secondary-hover: #151515;
    --form-color: #1a1a1a;
    --tertiary-body: #151515;
    --secondary-form: #242424;
    --input-color: #303030;
    --border-color: #303030;
    --secondary-border: #4f4f4f;
}
/* Dark Mode Colours */

/* Navigation Bar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background-color: var(--nav-color);
    font-family: "Kanit", sans-serif;
    z-index: 100;
}

nav .nav-bar {
    position: relative;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 35px;
    display: flex;
    align-items: center;
    gap: 20px;
}

nav .nav-bar .sidebarOpen {
    color: var(--text-color);
    font-size: 25px;
    padding: 25px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a {
    font-size: 25px;
    font-weight: 800;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle {
    display: none;
}

.nav-bar .nav-links {
    display: flex;
    align-items: center;
}

.nav-bar .nav-links li {
    margin: 0 5px;
    list-style: none;
}

.nav-links li a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    color: #f6c90e;
}

.searchBox {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    width: 200px;
    height: 35px;
    background-color: var(--search-bar);
}

.searchBox input {
    width: 150px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-family: "Kanit", sans-serif;
    opacity: 75%;
    font-weight: 500;
}

.searchBox i {
    margin-right: 7px;
    color: var(--search-icon);
}

.nav-bar .darkMode {
    display: flex;
    align-items: center;
    margin-left: 170px;
}

.darkMode .dark-mode {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    transition: all 0.5s ease;
    border-radius: 50%;
}

.darkMode .dark-mode:hover {
    background-color: var(--hover-color);
}

.dark-mode i {
    position: absolute;
    color: var(--text-color);
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dark-mode i:hover {
    color: #f6c90e;
}

.dark-mode i.sun {
    opacity: 0;
    pointer-events: none;
}

.nav-bar .application-links {
    display: flex;
    align-items: center;
}

.nav-bar .application-links li {
    margin: 0 5px;
    list-style: none;
}

.application-links li a {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    transition: all 0.5s ease;
}

.application-links li a:hover {
    background-color: var(--hover-color);
    color: #f6c90e;
}

.dark-mode.active i.sun {
    opacity: 1;
    pointer-events: auto;
}

.dark-mode.active i.moon {
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 1290px) {
    nav .nav-bar .sidebarOpen {
        display: block;
    }
    
    .menu {
        position: fixed;
        height: 100%;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu {
        left: -0%;
    }

    nav.active .nav-bar .navLogo a {
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle {
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .sidebarClose {
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links {
        flex-direction: column;
        padding-top: 30px;
    }

    .nav-links li a {
        display: block;
    }
}
/* Navigation Bar */

/* Home Page */
/* Card Slider */
.wrapper {
    max-width: 1450px;
    padding: 10px 10px 20px 10px;
    margin: 80px 50px 20px;
    overflow: hidden;
}

.wrapper .card {
    height: auto;
    display: flex;
    flex-direction: column;
}

.card .card_image {
    position: relative;
}

.card .card_image img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}

.card .card_image .card_tag {
    position: absolute;
    left: 30px;
    top: 445px;
    color: #ffffff;
    font-family: "Anton", sans-serif;
    font-size: 3.25rem;
    text-transform: uppercase;
}

.card .card_footer {
    position: relative;
}

.card .card_footer .card_button {
    position: absolute;
    left: 30px;
    bottom: 35px;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 7.5px;
    font-size: 1rem;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    background: var(--button-color);
    transition: all 0.2s ease;
}

.card .card_footer .card_button:hover {
    background: #f6c90e;
}

.card .card_footer .card_button2 {
    position: absolute;
    left: 205px;
    bottom: 35px;
    color: #ffffff;
    padding: 9px 20px;
    border-radius: 7.5px;
    font-size: 1rem;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #ffffff;
    transition: 0.2s ease-in; 
}

.card .card_footer .card_button2:hover {
    background: #151515;
}

.wrapper .swiper-pagination-bullet {
    overflow: hidden;
    background: #e6b31e;
}

.wrapper :where(.swiper-button-prev, .swiper-button-next) {
    color: #ffffff;
}
/* Card Slider */

/* White Banner */
.white-banner {
    height: 170px;
    width: auto;
    margin-top: 20px;
    background-color: var(--nav-color);
}

.website-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 5px;
}

.website-info h2 {
    color: var(--text-color);
    font-family: "Kanit", sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-top: 15px;
    transition: all 0.1s ease;
}

.website-info h2:hover {
    color: #f6c90e;
}

.website-subinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.website-subinfo p {
    color: #747474;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
}
/* White Banner */

/* Gray Banner */
.gray-banner {
    height: 610px;
    width: auto;
    padding: 25px 0px 0px 60px;
    background-color: var(--secondary-body);
}
/* Gray Banner */

/* Tab w Content */
.container1 {
    height: 45px;
    width: auto;
    display: flex;
    position: relative;
}

.container1 input {
    display: none;
}

.tab-name1 {
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    height: 45px;
    background: var(--nav-color);
    padding: 10px 60px;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 7px;
    cursor: pointer;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease;
}

input:checked + label .tab-name1 {
    background: #ffd910;
    color: var(--secondary-button);
}

.tab-content1 {
    position: absolute;
    top: 70px;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s ease;
}

input:checked + label .tab-content1 {
    opacity: 1;
    z-index: 1;
}
/* Card Content */
.card-list1 {
    display: flex;
    gap: 10px;
    width: 1395px;
}

.wrapper1 .card1 {
    width: 350px;
    height: auto;
    display: flex;
    flex-direction: column;
    background: var(--nav-color);
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.wrapper1 .card1:hover {
    transform: translateY(-10px);
}

.card1 .card-img1 .card-tag1 {
    color: var(--text-color);
    border-radius: 9px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    padding: 5px;
    margin-left: 25px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: #7a7a7a4a;
}

.card1 .card-content1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px 25px 25px;
}

.card1 .card-content1 .card-title1 {
    color: var(--text-color);
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 3px;
    margin-bottom: 10px;
}

.card1 .card-content1 .card-text1 {
    color: #747474;
    font-family: "Poppins", sans-serif;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 15px;
}

.card1 .card-content1 .card-footer1 {
    padding-top: 30px;
    margin-top: auto;
    border-top: solid 1px rgba(0, 0, 0, 0.3);
}

.card1 .card-img1 img {
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 22px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card1 .card-footer1 .card-button1 {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.85rem;
    font-weight: 600;
    text-decoration: none;
    background: #ffd910;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.card1 .card-footer1 .card-button1:hover {
    color: var(--secondary-hover);
}
/* Card Content */
/* Tab w Content */
/* Home Page */

/* Second Page */
/* Form */
/* Form 1*/
.Tbody {
    height: 900px;
    width: 100%;
    padding: 10px 0;
    background-color: var(--tertiary-body);
}

.mainformer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.former {
    font-family: "Poppins", sans-serif;
    position: relative;
    max-width: 1230px;
    width: 100%;
    border-radius: 20px;
    padding: 100px 0 0;
    margin: 20px 0;
    background: var(--form-color);
}

.mainformer header {
    font-size: 50px;
    font-weight: 600;
}

.mainformer form {
    position: relative;
    margin-top: 16px;
    min-height: 445px;
    background-color: var(--secondary-form);
    padding: 20px 30px 0 30px;
}

.form {
    display: flex;
}

.mainformer form .details {
    width: 50%;
}

.mainformer form .title {
    font-family: "Poppins", sans-serif;
    display: block;
    margin-bottom: 8px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 800;
    margin: 0px 0px 5px;
}

.mainformer form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .fields .input-field {
    display: flex;
    color: #7f7f7f;
    width: calc(100% / 2 - 10px);
    flex-direction: column;
    margin: 4px 0;
}

form .fields #input-field1 {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
}

.textarea1 {
    resize: none;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #7f7f7f;
    background-color: var(--input-color);
    border-radius: 7px;
    border: 1px solid transparent;
    padding: 10px 15px;
    width: 100%;
    height: 86px;
    margin: 8px 0;
    transition: all 0.3s;
}

.textarea1:focus {
    cursor: text;
    color: var(--text-color);
    border-color: var(--secondary-border);
}

.input-field label {
    font-size: 12px;
    font-weight: 500;
}

.input-field input {
    font-family: "Poppins", sans-serif;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #7f7f7f;
    background-color: var(--input-color);
    border-radius: 7px;
    border: 1px solid transparent;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
    transition: all 0.3s;
}

.input-field input:focus {
    cursor: text;
    color: var(--text-color);
    border-color: var(--secondary-border);
}

.form1 {
    width: 50%;
    height: 400px;
    background-color: var(--secondary-form);
    padding: 29px 0 0 29px;
}

form .fields #input-field2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 4px 0;
}

.textarea {
    resize: none;
    font-family: "Poppins", sans-serif;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #7f7f7f;
    background-color: var(--input-color);
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px 15px;
    width: 100%;
    height: 339px;
    margin: 8px 0;
    transition: all 0.3s;
}

.textarea:focus {
    cursor: text;
    color: var(--text-color);
    border-color: var(--secondary-border);
}

.former1 {
    position: relative;
    max-width: 2000px;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px 30px;
    background: var(--secondary-form);
    border-top: 2px solid var(--border-color);
}
/* Form 1*/
/* Form Tabs */
section {
    font-family: "Poppins", sans-serif;
    margin: 100px 140px;
    max-width: 1215px;
    width: 100%;
    min-height: 300px;
}

section input[type="radio"] {
    display: none;
}

section .tabby {
    padding: 10px 60px;
    background-color: var(--nav-color);
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}

.tab-contenty {
    display: none;
    margin: 20px 0;
}

section input[type="radio"]:checked+label {
    background-color: #ffd910;
    color: var(--secondary-button);
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3 {
    display: block;
}
/* Form Tabs */
/* Form Buttons */
.former1 .submitbtn {
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 0.85rem;
    font-weight: 600;
    text-decoration: none;
    background: #ffd910;
    transition: all 0.3s ease;
}

.former1 .submitbtn:hover {
    color: var(--secondary-hover);
}
/* Form Buttons */
/* Form 2 */
#formery1 {
    font-family: "Poppins", sans-serif;
    position: relative;
    max-width: 1230px;
    width: 100%;
    border-radius: 20px;
    padding: 10px 0 0;
    margin: 20px 0;
    background: var(--secondary-form);
}

.mainformer #former1 {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: var(--text-color);
    padding: 10px 30px 15px;
}
/* Form Checkboxes */
.center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menue {
    width: 100%;
}

.listy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px 20px;
}

.listy label {
    padding: 5px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-border);
    background-color: var(--input-color);
    border: none;
    border-radius: 10px;
    margin: 5px 10px 10px 0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.listy label:hover {
    color: var(--text-color);
}

.listy input {
    display: none;
}

.listy input:checked+label {
    color: var(--secondary-button);
    border-color: rgb(15, 150, 255);
    background: #ffd910;
}
/* Form Checkboxes */
/* Form 2 */
/* Form */
/* Second Page */

/* Footer */
.container2 {
    max-width: 1260px;
    margin: auto;
    line-height: 1.5;
    font-family: "Kanit", sans-serif;
    font-style: normal;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: #242424;
    padding: 50px 0;
}

.footer_col {
    width: 22%;
    padding: 0 15px;
}

.footer_col h4 {
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
}

.footer_col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}

.footer_col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer_col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #747474;
    display: block;
    transition: all 0.3s ease;
}

.footer_col ul li a:hover {
    color: #ffffff;
    padding-left: 4px;
}

.footer_col .social_links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #7a7a7a4a;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 20%;
    color: #bbbbbb;
    transition: all 0.5s ease;
}

.footer_col .social_links a:hover {
    color: #ffffff;
    background-color: #ffd910;
}
/* Footer */
